/* You can add global styles to this file, and also import other style files */
@use '@scion/workbench';

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');

html {
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

html, body, app-root {
  position: absolute;
  margin: 0;
  inset: 0
}

// Style HTML button
button {
  border: 1px solid var(--sci-color-border);
  border-radius: var(--sci-corner-small);
  background-color: var(--sci-color-gray-100);
  padding: .25em 1em;
  font-family: inherit;
  text-align: center;
  user-select: none;

  &:hover:where(:not(:disabled)) {
    background-color: #{light-dark}(color-mix(in srgb, var(--sci-color-gray-200) 95%, var(--sci-static-color-white)), color-mix(in srgb, var(--sci-color-gray-100) 75%, var(--sci-static-color-black)));
  }

  &:active:where(:not(:disabled)) {
    background-color: #{light-dark}(color-mix(in srgb, var(--sci-color-gray-200) 97%, var(--sci-static-color-black)), color-mix(in srgb, var(--sci-color-gray-100) 85%, var(--sci-static-color-black)));
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }
}

// Style HTML button to display a Material icon
button[class*="material"] {
  font-family: 'Material Symbols Rounded';
  display: inline-grid;
  place-content: center;
  place-items: center;
  padding: 3px;
  font-size: 20px; // Material default is 24px
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  color: var(--sci-color-text);
  border-radius: var(--sci-corner);
  border: unset;
  background-color: unset;
  user-select: none;
  overflow: hidden;

  &:hover:where(:not(:disabled)) {
    background-color: #{light-dark}(color-mix(in srgb, var(--sci-color-gray-200) 95%, var(--sci-static-color-white)), var(--sci-color-gray-200));
  }

  &:active:where(:not(:disabled)) {
    background-color: var(--sci-color-gray-300);
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid var(--sci-color-accent);
  }

  &:disabled {
    color: var(--sci-color-gray-300);
  }
}

// Style HTML Select element (dropdown)
select:not([size]) {
  border: 1px solid var(--sci-color-border);
  border-radius: var(--sci-corner-small);
  padding: .25em 1em;
  font-family: inherit;
  user-select: none;
  outline: none;
}

// Style HTML Select element (list)
select[size] {
  border: none;
  border-radius: 0;
  font-family: inherit;
  user-select: none;
  outline: none;
  overflow: auto;
  background-color: inherit;

  option {
    padding: .125em .5em;
  }
}